package {{package}}.impl;

import {{package}}.*;
import {{modelPackage}}.*;

{{#imports}}import {{import}};
{{/imports}}

import java.util.List;

import java.io.InputStream;

import javax.ws.rs.core.Response;
import javax.ws.rs.core.SecurityContext;
import org.springframework.stereotype.Component;

{{>generatedAnnotation}}
{{#operations}}
@Component
public class {{classname}}ServiceImpl extends {{classname}}Service {
  {{#operation}}
      @Override
      public Response {{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}},{{/allParams}}SecurityContext securityContext) {
      // do some magic!
      return Response.ok().entity("magic").build();
  }
  {{/operation}}
}
{{/operations}}
