info.build.artifact=@project.artifactId@-@project.version@.@project.packaging@
info.build.name=@project.name@
info.build.description=@project.description@
info.build.version=@project.version@-@rpm.release@