package {{invokerPackage}}.config;

import javax.ws.rs.ApplicationPath;
import org.glassfish.jersey.server.ResourceConfig;
import org.springframework.context.annotation.Configuration;

@Configuration
@ApplicationPath("{{contextPath}}")
public class JerseyConfig extends ResourceConfig {

    public JerseyConfig() {
        register(io.swagger.jaxrs.listing.ApiListingResource.class);
        register(io.swagger.jaxrs.listing.SwaggerSerializers.class);
        register(ObjectMapperContextResolver.class);
    }

}